{% extends 'AdminCoreBundle::base.html.twig' %}

{% block body %}

    {#{% include 'AdminCoreBundle::Navs/top.html.twig' %}#}

    <div id="wrapper">

        <div id="header">
            <h1></h1>
        </div>

        {#{% render url('admin_menu_side') %}#}

        <div id="content">

            <div id="content-header" class="mini">
                <h1>{% block content_title %}{% endblock content_title %}</h1>
            </div>

            {% block breadcrumb %}{% endblock %}

            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock body %}