{% set path = url("admin_toggle_enabled", {
    "namespace": class(entity),
    "id": entity.id
}) %}

{% if entity.enabled %}
    <span class="btn btn-xs btn-success x-editable" data-url="{{ path }}"><i class="fa fa-check-circle"></i> {{ 'yes'|trans({}, 'admin') }}</span>
{% else %}
    <span class="btn btn-xs btn-danger x-editable" data-url="{{ path }}"><i class="fa fa-times-circle"></i> {{ 'no'|trans({}, 'admin') }}</span>
{% endif %}
