body {
    background: #3c3c3c;
}

#loginbox {
    background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    text-align: center;
    padding: 10px 0;
    height: auto;
}

#loginbox form {
    position: relative;
}

#loginbox .alert {
    border-radius: 0;
}

#loginbox p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

#loginbox .form-actions {
    padding: 20px 20px 15px;
    border-radius: 0 0 30px 30px;
}

body[data-color=grey] #content {
    background-color: #fff;
}

#breadcrumb {
    margin-bottom: 5px;
}

.flat #content-header h1 {
    margin-bottom: 0;
}

.flat #content-header > .btn-group {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.flat #content-header>.btn-group .btn {
    font-size: 14px;
    padding: 6px 12px;
    color: #FFF;
}

.widget-content .table {
    margin-bottom: 5px;
}

.table thead th {
    font-size: 14px;
}

.table thead th.batch {
    width: 35px;
}

.table thead th.actions {
    width: 150px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.dataTables_info {
    color: #666;
}

@media (min-width: 767px) {
    .flat #content-header > .btn-group {
        margin-top: -30px;
    }
}