{% extends 'AdminCoreBundle:Common:form.html.twig' %}

{% block content_title %}
    {{ 'admin_'~class~'_new'|trans({}, 'admin') }}
{% endblock content_title %}

{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            ("admin_"~class~"_list"): {
                "url": url('qbh_admin_'~class~'_list')
            },
            "new": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        {% block notice %}
            <div class="col-xs-12">
                {% include 'AdminCoreBundle:FlashMessage:render.html.twig' %}
            </div>
        {% endblock %}

        <div class="col-xs-12">
            {{ render(url("qbh_admin_component_"~class~"component_newcomponent")) }}
        </div>
    </div>
{% endblock content %}
